/**
*
* @note                           css reset file
* 
* @appdef                         fapulous framework
* @app-myapp-theme  
* @app-myapp-used                 True
* @media                          screen
* @valid                          true
*                                 
*                                 
* @author                         Eric Meyer & Richard Clark (http://richclarkdesign.com)
* @source                         http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
* @source                         http://html5doctor.com/html-5-reset-stylesheet/
*
*/

html,
body,
article,
aside,
canvas,
details,
figcaption,
figure, 
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td                                { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body                              { line-height: 1; }
ol,
ul                                { list-style: none; }
/*                                tables still need 'cellspacing="0"' in the markup */
table                             { border-collapse: separate; border-spacing: 0; }
caption,
th,
td                                { text-align: left; font-weight: normal; }

/*                                default display value for 'unknown' html5 elements */
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section                           { display: block; }
