#progressIndicator {
  height: 48%;
}
#textframe_gp { 
  overflow: hidden; 
  position: relative !important;
}
#textframe_p { 
  position: absolute; 
  top: 50%; 
  width: 100%; 
  text-align: center;
} 
#textframe {
  position: relative; 
  top: -50%; 
} 
#textframe ul,
#textframe li {
	margin: 0 50px;
	padding: 0 70px;
}

#mashi-controls a {
  line-height: 10px;
}



