/* MASHI CORE */

.mashi {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  position: absolute;
}

#textframe {
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;  
  padding: 20px;
  line-height: 1em;
}

#textframe_gp[id] { /* not IE6 */
  display: table;
}
#textframe_p[id] { /* not IE6 */
  display: table-cell; 
  vertical-align: middle; 
  position: static;
}


/* MASHI MODULE PRELOADER */

.preloadImages,
#mContainer {
  visibility: hidden;
}

#progressIndicator {
  background: url(../images/loader.gif) center top no-repeat;
  text-align: center;
  padding-top: 13px;
  height: 50px;
  font-size: 8px;
}


/* MASHI MODULE CONTROLS */

#mashi-controls {}

#mashi-controls a {
  display: inline-block;
  border: 1px solid #666;  
  width:33px;
  height:20px;
  margin-left: 3px;
  line-height: 12px;
  font-size: 12px;
  padding:0;
  text-decoration: none;
}
#mashi-controls:last-child {
  margin-left: 0px;
}

#controls-button-start {
  background-image:url(../images/controls.png);
  background-repeat:no-repeat;
  background-position:-6px -12px;
}
#controls-button-start:hover {
  background-position:-6px -57px;
}

#controls-button-stop {
  background-image:url(../images/controls.png);
  background-repeat:no-repeat;
  background-position:-70px -12px;
}
#controls-button-stop:hover {
  background-position:-70px -57px;
}

#controls-button-first {
  background-image:url(../images/controls.png);
  background-repeat:no-repeat;
  background-position:-166px -12px;
}
#controls-button-first:hover {
  background-position:-166px -57px;
}

#controls-button-last {
  background-image:url(../images/controls.png);
  background-repeat:no-repeat;
  background-position:-241px -12px;
}
#controls-button-last:hover {
  background-position:-241px -57px;
}

#controls-button-prev {
  background-image:url(../images/controls.png);
  background-repeat:no-repeat;
  background-position:-129px -12px;
}
#controls-button-prev:hover {
  background-position:-129px -57px;
}

#controls-button-next {
  background-image:url(../images/controls.png);
  background-repeat:no-repeat;
  background-position:-202px -12px;
}
#controls-button-next:hover {
  background-position:-202px -57px;
}
