.mashi article, .mashi aside, .mashi canvas, .mashi details, .mashi figcaption, .mashi figure, .mashi footer, .mashi header, .mashi hgroup, .mashi menu, .mashi nav, .mashi section, .mashi summary, .mashi time, .mashi mark, .mashi audio, .mashi video, .mashi div, .mashi span, .mashi applet, .mashi object, .mashi iframe, .mashi h1, .mashi h2, .mashi h3, .mashi h4, .mashi h5, .mashi h6, .mashi p, .mashi blockquote, .mashi pre, .mashi a, .mashi abbr, .mashi acronym, .mashi address, .mashi big, .mashi cite, .mashi code, .mashi del, .mashi dfn, .mashi em, .mashi font, .mashi img, .mashi ins, .mashi kbd, .mashi q, .mashi s, .mashi samp, .mashi small, .mashi strike, .mashi strong, .mashi sub, .mashi sup, .mashi tt, .mashi var, .mashi dl, .mashi dt, .mashi dd, .mashi ol, .mashi ul, .mashi li, .mashi fieldset, .mashi form, .mashi label, .mashi legend, .mashi table, .mashi caption, .mashi tbody, .mashi tfoot, .mashi thead, .mashi tr, .mashi th, .mashi td { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  font-family: inherit; 
  vertical-align: baseline; 
}
.mashi body { 
  line-height: 1; 
}
.mashi ol, .mashi ul { 
  list-style: none; 
}
.mashi table { 
  border-collapse: separate; 
  border-spacing: 0; 
}
.mashi caption, .mashi th, .mashi td { 
  text-align: left; 
  font-weight: normal; 
}
