/*
Author: uli preuss
Author URI: http://ulipreuss.eu
*/

html,body,canvas,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
a,abbr,acronym,address,big,
cite,code,del,dfn,em,img,ins,
kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td        { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body                                      { line-height: 1; }

/* standard elements */

* {
	font-family: georgia,"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
}
/* mac hide \*/

html, body {
	height:100%;
	width: 100%;
}
/* end hide */

a:link                                    { color: #FFD59F; }
a:visited                                 { color: #FFD59F; }
a:active,                                 
a:hover,                                  
a:focus                                   { color: #FFD59F; }

body {
  font-size: 12px;
	color: #444;
	background: #111 url(../images/page/bg.png);
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-family: Georgia, Verdana, Serif;
}
img {
	border: none;
}
#outer                                    {
	                                        height: 100%;
	                                        width: 100%;
	                                        display: table;
	                                        vertical-align: middle;
}
#container                                {
	                                        position:relative;
	                                        *top: 20%;
	                                        text-align: center;
	                                        vertical-align: middle;
	                                        display: table-cell;
	                                        height: 256px;
}
#inner                                    {
	                                        width: 980px;
	                                        text-align: center;
	                                        margin: 0 auto;
	                                        position: relative;
}

/* Splash */

#splash                                   {
	                                        border: 7px solid #222;
	                                        height: 244px;
	                                        width: 956px;
                                          padding: 0px; 
                                          position: relative;
                                          text-align: left;
}
#mainmenu {
  font-size:17px;
}

.menu {
  width:868px;
  color:#666;
  padding: 6px 0; 
  text-align: right; 
}
.menu a,
.menu span {
	font-family: Arial, Helvetica, sans-serif;
  color:#666;
  margin: 0 10px;
  font-weight: bold;
}
.menu span {
  color:#ccc;
}
.menu a:hover {
  color:#eee;
}
#infos {
	text-align: left;
  width:868px;
  color:#fff;
  padding:6px; 
  margin: 10px;
}
#infos span {
  vertical-align: bottom;
  padding: 5px;
  color: #666;
}

#logo {
  text-align: left; 
  position: absolute; 
  top: -11px; 
  left: 18px; 
  width: 136px; 
  height: 39px;
}
p#copyright {
  margin: 0 10px;
  text-align: right;
  font-size: 11px;   
}

/* EXAMPPLE I18N */
span.lang { 
	border: 1px solid #777;
	margin: 2px;
}
span.lang:hover { 
	background: #333;
}
span.lang,
span.lang label,
span.lang input { 
	cursor: pointer;
}

/**
* @section                        use <ul class="content">....</ul> to display bullet lists
*/

ul.content,
ol.content                        { margin: 0 0 1.1250em 1.1250em; padding: 0; line-height: 1.5; }
ul.content li                     { margin: 0 0 .6250em; list-style-type: disc; }
ol.content li                     { margin: 0 0 .6250em; list-style-type: decimal; }

q:before,
.cite:before                      { content: "\00BB"; }
blockquote p:after,
q:after,
.cite:after                       { content: "\00AB"; }

address                           { font-style: italic; }

.snapshot                         { width: 240px; }
.snapshot img                     { display: block; width: 240px; }
.snapshot .shotDesc               { width: 220px; padding: 10px; }

.snapshotQ                        { width: 160px; height: 210px; overflow: hidden;}
.snapshotQ img                    { display: block; float: left; width: 58px; }
.snapshotQ .shotDesc              { float: right; width: 92px; padding-left: 10px; }
